@charset "utf-8"

body {}

h1 {
	text-align: center;
}

div#karla {
	font-family: 'Karla', sans-serif;
}

div#orbitron {
	font-family: 'Orbitron', sans-serif;
}

div#quantico {
	font-family: 'Quantico', sans-serif;
}

div#rationale {
	font-family: 'Rationale', sans-serif;
}

div#juan {
	font-family: 'Jua', sans-serif;
}

div#michroma {
	font-family: 'Michroma', sans-serif;
}

div#ropasans {
	font-family: 'Ropa Sans', sans-serif;
}

/*
Specify in CSS
Use the following CSS rules to specify these families:

font-family: 'Karla', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Quantico', sans-serif;
font-family: 'Rationale', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Ropa Sans', sans-serif;
*/