@charset "utf-8"

body {}

div#interface {
	font-family: Comic Sans MS; background-color: #87ceeb; color: #000000; margin: auto -8px auto -7px;
}

header {
	width: 100%; background-color: #262626; color: #9C9C9C; border-bottom: 3px solid #9C9C9C; margin: -21px auto 10px -8px;
}

nav#cyber {
	padding-top: 5px;
}

h1#cyberservice {
	font-size: 25px; text-align: left; color: #ffc62c; margin-top: 15px; margin-left: 20px; margin-bottom: 10px;
}

h1, h2, h3, h4 {
	text-align: center;
}

nav#menu {
	display: block; list-style:none; border:1px solid #c0c0c0; float:ft; margin-right: -7px;
}

h2#menu {
	display: none;
}

ul#menu {
	list-style: none; text-transform: uppercase; position: absolute; top: -14px; right: -7px;
}

ul#menu li {
	display: inline-block; background-color: #dddddd; padding: 10px; margin: 2px; -webkit-transition: background-color 1s; -o-transition: background-color 1s; transition: background-color 1s;
}

li#menu:hover {
	background-color: #606060;
}
nav#menu a {
	color: #000000;
	text-decoration: none;
}

nav#menu a:hover {
	color: #ffffff;
	text-decoration: underline;
}

aside#esquerdo{
	width: 300px; color: #000000; margin: 10px auto 10px auto; padding: 10px; float:center;
}

article {
	width: 560px; background-color: #7FFFD4 /*00ff00*/; color: #000000; margin: 10px auto 10px auto; box-shadow: 0px 0px 10px rgba(0,0,0,.5); padding: 10px; float:center;
}

section#programacao {
width: 560px; background-color: #00ff00; color: #000000; margin: 10px auto 10px auto; box-shadow: 0px 0px 10px rgba(0,0,0,.5); padding: 10px; float:center;
}

section {
width: 560px; background-color: #7FFFD4/*00ff00*/; color: #000000; margin: 10px auto 10px auto; box-shadow: 0px 0px 10px rgba(0,0,0,.5); padding: 10px; float:center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

img#whatsapp {
	display: inline-flex;
	width: 16px;
	margin-bottom: 0px;
}

img#vendedorvirtual {
	width: 280px;
}

figcaption {
	text-align: center;
}

table {
	 width: 80%; margin: auto;
}

table, th, td, tr {
	background-color: #ffffff; border: 1px solid black; border-collapse: collapse;
}

aside#direito {
	width: 300px; color: #000000; margin: 10px auto 0px auto; padding: 10px; float:center;
}

p#retorno {
	text-align: center; color: #000000; text-decoration: none;
}

p#i {
	font-size: 21px;
}

p#links {
	text-align: center;
}

footer {
	width: 100%; background-color: #262626; /*#ffc62c*/; border-top: 3px solid #9c9c9c; margin: 10px -10px -15px -8px;
}

nav#footer {
	display: block; list-style:none; border-top: 1px solid #c0c0c0;
}

nav#footer p {
	text-align: center; color: #9c9c9c; padding-top: 0px; padding-bottom: 10px;
}