@charset "utf-8";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){

	body {
        background-color:#ffffff;
        max-width: 100%;
    }

	article {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 550px;
	}

	#programacao {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 550px;
	}

	#programacao div {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#santaClara {
		width: auto;
		max-width: 400px;
		margin: 10px;
	}

	#cinemark {
		width: auto;
		max-width: 400px;
		margin: 10px;
	}

	h2 {
		font-size: 17pt;
	}
    
    p {
        font-size: 14pt;
    }

	.col-p-1 {width: 100%;}

}